# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  lint:
    name: Lint and Test Python Code
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write
      
    steps:
    
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        

    - name: Lint with Flake8
      run: |
        flake8 . --exclude=venv --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --exclude=venv --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


    - name: Run Tests with pytest
      run: |
        python -m venv venv
        source venv/bin/activate
        pytest
